<mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">


  <mat-step [stepControl]="firstFormGroup" label="">
    <div [formGroup]="firstFormGroup" class="notFormInput">

      <div class="container-fluid pt-5">
        <div class="row">

          <div class="col-5">

            <div class="col-12 col-lg-11 col-xl-9">
              <h4 class="font-bold fs-md-1 fc-primary py-4">Datos personales</h4>
            </div>

            <div class="col-12 pb-3">
              <input formControlName="name" type="text" class="form-control fw-300 py-3 formInput"
                placeholder="Nombre y apellido" />
              <div *ngIf="name?.errors && name?.touched">
                <ng-container *ngFor="let error of errorMessages.name">
                  <div class="text-danger" *ngIf="name?.hasError(error.type)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="col-12 py-3">
              <input formControlName="document" type="text" class="form-control fw-300 py-3 formInput"
                placeholder="Documento de identidad" />
              <div *ngIf="document?.errors && document?.touched">
                <ng-container *ngFor="let error of errorMessages.document">
                  <div class="text-danger" *ngIf="document?.hasError(error.type)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="row">
              <div class="col-4 py-3">
                <input formControlName="areaCode" type="text" class="form-control fw-300 py-3 formInput"
                  placeholder="Código de área" />
                <div *ngIf="areaCode?.errors && areaCode?.touched">
                  <ng-container *ngFor="let error of errorMessages.areaCode">
                    <div class="text-danger" *ngIf="areaCode?.hasError(error.type)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="col-8 py-3">
                <input formControlName="telephone" type="tel" class="form-control fw-300 py-3 formInput"
                  placeholder="Número de teléfono" />
                <div *ngIf="telephone?.errors && telephone?.touched">
                  <ng-container *ngFor="let error of errorMessages.telephone">
                    <div class="text-danger" *ngIf="telephone?.hasError(error.type)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

            <div class="col-12 py-3">
              <input formControlName="email" type="email" class="form-control fw-300 py-3 formInput"
                placeholder="Correo electronico" />
              <div *ngIf="email?.errors && email?.touched">
                <ng-container *ngFor="let error of errorMessages.email">
                  <div class="text-danger" *ngIf="email?.hasError(error.type)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="col-1">
          </div>

          <div class="col-5 justify-content-end">

            <div class="col-12 col-lg-11 col-xl-9">
              <h4 class="font-bold fs-md-1 fc-primary py-3">Envío</h4>
            </div>


            <mat-radio-group aria-label="Select an option">
              <div class="mb-3">
                <mat-radio-button (click)="selectDeliveryType(deliveryTypes.CORREO_ARGENTINO)">
                  Correo argentino
                </mat-radio-button>

              </div>
              <div *ngIf="showDeliveryForm">
                <div class="col-12 pb-3">
                  <input formControlName="address" type="text" class="form-control fw-300 py-3 formInput"
                    placeholder="Calle y número" />
                  <div *ngIf="address?.errors && address?.touched">
                    <ng-container *ngFor="let error of errorMessages.address">
                      <div class="text-danger" *ngIf="address?.hasError(error.type)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6 py-3">
                    <input formControlName="location" type="text" class="form-control fw-300 py-3 formInput"
                      placeholder="Localidad" />
                    <div *ngIf="location?.errors && location?.touched">
                      <ng-container *ngFor="let error of errorMessages.location">
                        <div class="text-danger" *ngIf="location?.hasError(error.type)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                    </div>
                  </div>

                  <div class="col-6 py-3">
                    <input formControlName="province" type="text" class="form-control fw-300 py-3 formInput"
                      placeholder="Provincia" />
                    <div *ngIf="province?.errors && province?.touched">
                      <ng-container *ngFor="let error of errorMessages.province">
                        <div class="text-danger" *ngIf="province?.hasError(error.type)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>

                <div class="col-5 py-3">
                  <input formControlName="postalCode" type="text" class="form-control fw-300 py-3 formInput"
                    placeholder="Código postal" />
                  <div *ngIf="postalCode?.errors && postalCode?.touched">
                    <ng-container *ngFor="let error of errorMessages.postalCode">
                      <div class="text-danger" *ngIf="postalCode?.hasError(error.type)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>

              <div class="mt-3">
                <mat-radio-button (click)="selectDeliveryType(deliveryTypes.SUCURSAL)">
                  Retiro por local
                </mat-radio-button>
              </div>

            </mat-radio-group>

            <div class="row pt-5 mt-3 align-items-center justify-content-end text-end">

              <div class="col-auto">
                <a type="button" class="fc-primary-light fs-sm-2 font-light" (click)="onClickBackToCart()">
                  Volver al carrito
                </a>
              </div>

              <div class="col-6">
                <button mat-button matStepperNext class="col-9 py-2 text-sm-center fs-sm-2 font-bold secondary-button ">
                  Ir a pagar
                </button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" (ngSubmit)="confirmPurchase($event)" class="notFormInput">
      <mat-radio-group>
        <div class="container-fluid pt-5">
          <div class="row">

            <div class="col-12 col-lg-11 col-xl-9">
              <h4 class="font-bold fs-md-1 fc-primary py-4">Metodos de pago</h4>
            </div>

            <div class="col-5">
              <mat-radio-button (click)="selectPaymentType(paymentTypes.CREDITO)">
                Pago online
              </mat-radio-button>

              <div class="row py-4">
                <div class="col-2">
                  <img src="./assets/img/stepper/visa-color.png" alt="" class="img-fluid">
                </div>
                <div class="col-2">
                  <img src="./assets/img/stepper/master-color.png" alt="" class="img-fluid">
                </div>
                <div class="col-2">
                  <img src="./assets/img/stepper/american-color.png" alt="" class="img-fluid">
                </div>
              </div>

              <div class="col-12 pb-3 pt-3">
                <input formControlName="cardName" type="text" class="form-control fw-300 py-3 formInput"
                  placeholder="Nombre como figura en la tarjeta" />
                <div *ngIf="cardName?.errors && cardName?.touched">
                  <ng-container *ngFor="let error of errorMessages.cardName">
                    <div class="text-danger" *ngIf="cardName?.hasError(error.type)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="col-12 py-3">
                <input formControlName="cardNumber" type="text" class="form-control fw-300 py-3 formInput"
                  placeholder="Número de tarjeta" />
                <div *ngIf="cardNumber?.errors && cardNumber?.touched">
                  <ng-container *ngFor="let error of errorMessages.cardNumber">
                    <div class="text-danger" *ngIf="cardNumber?.hasError(error.type)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="row">
                <div class="col-4 py-3">
                  <input formControlName="expirationDate" type="text" class="form-control fw-300 py-3 formInput"
                    placeholder="MM/AA" />
                  <div *ngIf="expirationDate?.errors && expirationDate?.touched">
                    <ng-container *ngFor="let error of errorMessages.expirationDate">
                      <div class="text-danger" *ngIf="expirationDate?.hasError(error.type)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-8 py-3">
                  <input formControlName="cvv" type="text" class="form-control fw-300 py-3 formInput"
                    placeholder="CVV" />
                  <div *ngIf="cvv?.errors && cvv?.touched">
                    <ng-container *ngFor="let error of errorMessages.cvv">
                      <div class="text-danger" *ngIf="cvv?.hasError(error.type)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-1">

            </div>

            <div class="col-5">
              <mat-radio-button (click)="selectPaymentType(paymentTypes.EFECTIVO)">
                Pago en local
              </mat-radio-button>

              <section class="row gy-2 ps-4 mb-5 pb-5">

                <div class="col-12">
                  <span class="font-light fs-sm-1 fc-primary">- Humberto Primo 680</span>
                </div>

                <div class="col-12">
                  <span class="font-light fs-sm-1 fc-primary">Complejo Capitalinas. Edificio Suquía</span>
                </div>

                <div class="col-12">
                  <span class="font-light fs-sm-1 fc-primary">Piso 2, oficina 22</span>
                </div>

                <div class="col-12">
                  <span class="font-light fs-sm-1 fc-primary">Córdoba, Argentina</span>
                </div>
              </section>

              <div class="row pt-5 mt-5 align-items-center justify-content-end">

                <div class="col-auto">
                  <button matStepperPrevious type="button"
                    class="fc-primary-light fs-sm-2 font-light back-button">Volver
                    al paso
                    anterior</button>
                </div>

                <div class="col-6">
                  <button type="submit" matStepperNext
                    class="col-9 py-2 text-sm-center fs-sm-2 font-bold secondary-button">
                    Confirmar compra
                  </button>
                </div>

              </div>
            </div>

          </div>
        </div>
      </mat-radio-group>
    </form>
  </mat-step>

  <mat-step>

    <div class="container pt-5">
      <div class="row gy-4 justify-content-center">

        <div class="col-3 text-center">
          <img src="./assets/img/stepper/check-sale.png" alt="" class="img-fluid">
        </div>

        <div class="col-12 text-center">
          <span class="font-bold fs-md-1 fc-primary">El pago fue realizado con éxito</span>
        </div>

        <div class="col-12 text-center">
          <span class="font-light fs-sm-2 fc-primary">Número de orden:
            <span class="font-bold fs-sm-2 fc-primary">
              {{orderNumber}}</span>
          </span>

        </div>

        <div class="col-12 text-center">
          <span class="font-light fs-sm-2 fc-primary">Muchas gracias por tu compra</span>
        </div>

        <div class="col-12 text-center mt-3">
          <button class="col-2 py-2 text-sm-center fs-sm-2 font-bold secondary-button mt-3"
            (click)="onClickBackToCatalogue()">
            Volver al catálogo</button>
        </div>
      </div>
    </div>
  </mat-step>
</mat-stepper>