.header__menu {
  background: var(--primary-white);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 0px;
  padding: 30px 30px 1px;
}

.header__menu__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__menu__logo a img {
  width: 150px;
}

.social__menu__item {
  padding: 0 15px;
}

.header__menu__item {
  padding-left: 0px;
}

ul li {
  padding-top: 15px;
  padding-left: 21px;
  white-space: nowrap;
}

.header__menu__social {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  padding-top: 15px;
  justify-content: center;
}

.header__menu__social li {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.header__menu__item a {
  color: var(--primary-black);
  font-size: 1rem;
  text-decoration: none;
}

@media all and (min-width: 992px) {
  .header__menu {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  .header__menu__item {
    justify-content: right;
    display: flex;
    width: 65%;
  }

  .header__menu__social {
    width: 20%;
    justify-content: end;
  }
}
