<section class="container my-5 pb-5 table-responsive bg-secondary-white px-5 dashboard-table" id="books-dashboard">
  <section class="container pb-5 mb-5">
    <div class="row mt-5 pt-5 align-items-center gy-5">

      <div class="col-12 col-lg-6">
        <span class="fc-primary font-bold fs-md-2">Usuarios registrados</span>
      </div>

      <div class="col-12 col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control rounded-1 px-4 py-3" placeholder="Buscá por nombre">
          <button type="button" class="btn btn-outline-secondary"> <img src="./assets/icons/extra/lupa.png" alt="">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <table class="table table-hover align-middle">

    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Correo Electrónico</th>
        <th scope="col">Teléfono</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let user of users">

        <td class="ps-4">{{user.username}}</td>
        <td class="ps-4">{{user.email}}</td>
        <td class="ps-4">{{user.telephone_area_code}}{{user.telephone_number}}</td>
      </tr>

    </tbody>
  </table>