<section class="container-fluid py-5 my-4">
  <div class="row ps-4">
    <div class="col-12 pb-4">
      <h2>Mi carrito</h2>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <span>2 times</span>
        </div>
        <div class="col-6">
          <button>
            <div class="row">
              <div class="col-1">
                <img src="./assets/icons/actions/trash.svg" alt="trash icon" />
              </div>

              <span class="col-auto ps-3 pt-1">Vaciar carrito</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid">
  <div class="row">
    <div class="col-8">
      <app-selected-books></app-selected-books>
    </div>
    <div class="col-4">

    </div>
  </div>
</section>