<div class="container pt-5 mt-5">
  <div class="row gy-5 align-items-center">

    <div class="col-12 col-md-6">
      <div class="col-7">
        <img src="assets/img/img utils/no-encontrado.png" alt="" class="img-fluid">
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="row gy-4">
        <h6 class="col-12 fc-basic-6 font-bold fs-lg-2">Lo sentimos :(</h6>

        <div class="col-12 col-md-8 fc-secondary font-medium fs-lg" *ngIf="!this.title; else withTitle">
          <p>No encontramos el libro que estas buscando</p>
        </div>

        <ng-template #withTitle>
          <div class="col-12 fc-secondary font-medium fs-lg">
            <p>No encontramos el libro con el título '<span class="fc-basic-6">{{ title }}</span>' que estas buscando
            </p>
          </div>
        </ng-template>

        <div class="col-12">
          <button type="button" class="col-6 secondary-button text-sm-center fs-sm-2 font-bold"
            (click)="goToCatalogue()">
            Ir al catalogo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>