.backgorund-color-green {
    background-color: #DAF275;
  }
  
  .backgorund-color-white {
    background-color: white;
  }
  
  .border-radius {
    border-radius: 40px 0px 0px 40px;
  }
  
  html {
    height: 100%;
  }
  
  .login-button {
    color: white;
    border-radius: 15px;
    border-color: #041E41;
    background-color: #041E41;
  
  }