<div class="modal-body p-0 m-0">
    <section class="container-fluid">
      <div class="row justify-content-evenly vh-100">
  
        <div class="d-none d-lg-block col-lg-4 pt-4 backgorund-color-green">
          <div class="row justify-content-center pt-4">
            <div class="col pt-4">
              <img src="./assets/img/img utils/log-in-image.png" class="img-fluid pt-4" alt="" />
            </div>
          </div>
        </div>
  
        <div class="col-12 col-lg-8 py-4 mb-4">
  
          <div class="text-end mb-5 pb-5 pb-2">
            <button type="button" class="btn-close" aria-label="Close" (click)="onClickClose()"></button>
          </div>
  
          <div class="row justify-content-center">
            <div class="col-12 col-lg-11 col-xl-9 mb-1 pt-5">
              <h4 class="font-medium fs-md-1 fc-primary">Te damos la bienvenida. Nos alegra tenerte aquí</h4>
            </div>
          </div>
  
  
          <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="row justify-content-center">
  
            <div class="col-12 col-lg-11 col-xl-9 form-register pb-4 pt-4">
              <input formControlName="email" type="email" class="form-control fw-300 py-3 formInput" placeholder="Correo electronico" />
              <div *ngIf="email?.errors && email?.touched">
                <ng-container *ngFor="let error of errorMessages.email">
                  <div class="text-danger" *ngIf="email?.hasError(error.type)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>
  
            <div class="col-12 col-lg-11 col-xl-9 pb-4">
              <input formControlName="password" type="password" class="form-control fw-300 py-3 formInput" placeholder="Contraseña" />
              <div *ngIf="password?.errors && password?.touched">
                <ng-container *ngFor="let error of errorMessages.password">
                  <div class="text-danger" *ngIf="password?.hasError(error.type)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>
  
            <div class="col-12 col-lg-11 col-xl-9 fc-primary fs-sm-1 pb-5 text-end">
              <span class="font-light">
                No tenés cuenta?
                <a type="button" class="font-bold text-reset text-decoration-none" (click)="onClickEnterRegister()">Registrate</a>
              </span>
            </div>
  
            <div class="col-12 col-lg-11 col-xl-9 d-grid gap-2">
              <button type="submit" class="py-2 login-button font-extra-bold fs-md">
                Confirmar
              </button>
            </div>
  
          </form>
        </div>
      </div>
    </section>
  </div>
