
<div *ngIf="profile; else loginRequired" class="wrapper">
  <h1 class="font-bold fs-md-2 fc-primary">Mi cuenta</h1>
  <main>
    <section>
      <h2 class="font-bold fs-md-2 fc-primary">Datos</h2>
      <div class="dataCard">
        <div class="title">
          <h3 class="fs-sm-2 font-semi-bold fc-primary">Datos personales</h3>
          <button type="button" (click)="onEditPersonalData()">
            <img src="/assets/icons/actions/edit.png" alt="Editar datos personales" />
          </button>
        </div>
        <span class="font-bold fs-sm-2 fc-primary">{{profile.username}}</span>
        <span class="font-semi-bold fs-sm-2 fc-primary">{{profile.document}}</span>
        <span class="font-semi-bold fs-sm-2 fc-primary">{{profile.email}}</span>
        <span class="font-bold fs-sm-2 fc-primary">{{profile.telephone_number}}</span>
      </div>
      <div class="dataCard">
        <div class="title">
          <h3 class="font-semi-bold fs-sm-2 fc-primary">Dirección</h3>
          <button type="button" (click)="onEditAddress()">
            <img src="/assets/icons/actions/edit.png" alt="Editar dirección" />
          </button>
        </div>
        <span class="font-bold fs-sm-2 fc-primary">{{profile.address_street}}</span>
        <span class="font-bold fs-sm-2 fc-primary">{{profile.address_province}}</span>
        <span class="font-semi-bold fs-sm-2 fc-primary">{{profile.address_location}}</span>

      </div>
    </section>
    <section *ngIf="purchaseData" class="col-6">
      <h2>Pedidos realizados</h2>
      <app-pedidos-item [purchases]="purchaseData"></app-pedidos-item>
    </section>
  </main>
</div>

<ng-template #loginRequired>
  <p>No hay usuario logueado</p>
</ng-template>
