.wrapper {
  margin: 65px 72px;
}

section {
  margin: 55px 70px 55px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 470px;
}

.dataCard {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 11px;

  background: rgba(234, 234, 234, 0.4);
  border-radius: 20px;
}

.title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.39);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 19px;
  width: 19px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

h1,
h2,
h3,
span {
  color: #5d5e5f;
}

h1 {
  font-size: 26px;
  line-height: 33px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

h3,
span,
body {
  font-size: 20px;
  line-height: 25px;
}

.order {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order h3 {
  color: #041e41;
}

/* ----- Modals ---------*/
.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.form-control {
  border-radius: 6px;
}

.btn {
  border-radius: 5px !important;
}

.btn-danger {
  --bs-btn-bg: #e35352;
}

/* ----- Modals end ---------*/

button {
  background-color: transparent;
  border: none;
}