<div class="wrapper">
  <h1>Mi cuenta</h1>
  <main>
    <section>
      <h2>Datos</h2>
      <div class="dataCard">
        <div class="title">
          <h3>Datos personales</h3>
          <img src="../../../../assets/edit.png" alt="Editar" />
        </div>
        Guillermina Ramirez<br />
        34567876<br />
        guillerminaramirez@gmail.com <br />
        1128767654
      </div>
      <div class="dataCard">
        <div class="title">
          <h3>Dirección</h3>
          <img src="../../../../assets/edit.png" alt="Editar" />
        </div>
        Chacabuco<br />
        1189<br />
        San Fernando <br />
        Buenos Aires
      </div>
    </section>
    <section>
      <h2>Pedidos realizados</h2>
      <div class="dataCard order">
        <h3 class="orderTitle">Orden: #1233</h3>
        <span>23/04/2023</span>
      </div>
      <div class="dataCard order">
        <h3 class="orderTitle">Orden: #1233</h3>
        <span>23/04/2023</span>
      </div>
    </section>
  </main>
</div>
