<div class="container-fluid product-card py-5">
  <div class="row align-items-center">

    <div class="col-8">
      <div class="row align-items-center justify-content-around">

        <div class="col-8">
          <img [src]="book.img" alt="imagen de portada de el libro {{ book.title }}" class="img-fluid">
        </div>

        <div class="col-12 col-lg-4 text-center">
          <h2 class="fc-secondary font-medium fs-sm-2">{{ book.title }}</h2>
          <h3 class="fc-primary-light font-semi-bold fs-sm-2">{{ book.author.name }}</h3>
        </div>

      </div>
    </div>


    <div class="col-8">
      <div class="row">

        <div class="col">
          <button>+</button>
          <span>{{book.selectedAmount}}</span>
          <button>-</button>
        </div>

        <div class="col">
          <h4 class="fc-secondary font-bold fs-md-1">${{ book.price }}</h4>
        </div>

        <div class="col">
          <button>
            <img src="./assets/icons/actions/trash.svg" alt="trash icon" />
          </button>
        </div>

      </div>
    </div>

  </div>
</div>