button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.product-card {
  border-radius: 20px;
  background-color: #EAEAEA66;
}

.number-button {
  border-radius: 30px;
  box-sizing: border-box;
  border: 1.3px solid #303754;
}

.max {
  width: 100%;
  height: 100%;
}