<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="nav__menu">

        <div class="menu-left row">
            <div class="item">Inicio</div>
            <div class="item">Catalogo</div>
        </div>
        <div class="menu-right row">
            <div class="auth row">
                <div class="auth-item">  <img
                    src="/img/Icons/menu-user/plus-circle.png"
                    alt="crear cuenta"
                  />Crear cuenta</div>
                <div class="auth-item">  <img
                    src="/img/Icons/menu-user/user.png "
                    alt="Iniciar sesion"
                  />Iniciar sesion</div>
            </div>
            <div class="cart row">
                <div class="cart-item">
                    <img
                    src="/img/Icons/menu-user/shopping-cart.png"
                    alt="Carrito de compras"
                  /> 0 $0</div>
            </div>
        </div>

    </div>
</body>
</html>
