button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #6d6d6d;
  background-color: transparent;
}

button:hover {
  color: #e35352;
  border-color: #e35352;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.background {
  border-radius: 20px;
  background-color: #eaeaea66;
}

a {
  text-decoration-line: underline;
}

.delivery-cost {
  margin-top: 1rem;
}
