<div class="container-fluid">
  <div class="row gy-4 background p-3">
    <div class="col-12">
      <span class="fs-sm-2 font-semi-bold fc-primary-light">Ingresá tu Código Postal de 4 cifras para calcular el costo
        del envío </span>
    </div>
    <div class="col-12 pb-3">
      <div class="row">
        <div class="col-5">
          <input type="text" class="form-control" placeholder="Código postal" [(ngModel)]="postalCode"
            (input)="validatePostalCode()" required />
        </div>
        <div class="col-auto">
          <button type="button" class="font-light" (click)="calcularEnvio()" [disabled]="postalCodeError">Calcular
            envío</button>
        </div>
        <div *ngIf="shippingCost !== 0" class="delivery-cost">
          Costo de envío: <span style="color: red;">{{ shippingCost }}$</span>
        </div>
      </div>
    </div>
    <div class="col-12">
      <span class="fs-sm-2 font-semi-bold fc-primary-light">Retirá gratis en nuestro local</span>
    </div>
    <div class="col-12">
      <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#storeModal">Ver locales</a>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="storeModal" tabindex="-1" aria-labelledby="storeModalLabel" aria-hidden="true">
  <app-store-helper></app-store-helper>
</div>
