<header class="container-fluid bg-primary-yellow position-relative header py-5">
  <section class="row justify-content-between align-items-center align-items-lg-start p-5 mb-4 gy-5">
    <div class="col-12 col-md-6 col-lg-5 mt-md-0">
      <div class="row gy-4 mt-2">
        <h1 class="col-12 header-title font-medium">
          Librería <span class="text-primary-blue font-bold">Franklin</span>
        </h1>
        <p class="header-paragraph fs-sm-2 ">
          Encontrá el libro que estás buscando. Novelas, cuentos, infantiles, historia, economía, jardinería y mucho más. 
        </p>
        <div>
          <button class="col-12 col-md-9 primary-button text-sm-center font-bold fs-sm-2" (click)="onClickCatalogue()">
            Ver catálogo
          </button>
        </div>
      </div>
    </div>

    <div class="d-none d-md-block col-6 mx-auto mx-md-0">
      <img src="./assets/img/img utils/book-group-cover.png" alt="tres fotos de libros" class="img-fluid" />
    </div>
  </section>

  <!-- featured info -->

  <section class="container position-absolute top-100 start-50 translate-middle py-3 featured-info-backgound">
    <div class="row justify-content-around align-items-center">
      <div class="col-3">
        <div class="row align-items-center justify-content-around">
          <div class="col-12 col-md-10 col-lg-7 col-xl-6 p-4 icon-backgorund">
            <img src="./assets/icons/books-icon.png" alt="Icono de dos libros juntos" class="img-fluid" />
          </div>
          <div class="col-12 col-lg-5 text-start">
            <span class="text-primary-blue font-extra-bold d-block">+ 100.000</span>
            <span class=""> ejemplares</span>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="row align-items-center justify-content-around">
          <div class="col-12 col-md-10 col-lg-7 col-xl-6 p-4 icon-backgorund">
            <img src="./assets/icons/pen-ink.png" alt="Icono de una pluma de tinta" class="img-fluid" />
          </div>
          <div class="col-12 col-lg-5 text-start">
            <span class="text-primary-blue font-extra-bold d-block">+ 2.000</span>
            <span class=""> autores</span>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="row align-items-center justify-content-around">
          <div class="col-12 col-md-10 col-lg-7 col-xl-6 p-4 icon-backgorund">
            <img src="./assets/icons/heart-book.png" alt="Icono de dos libros juntos" class="img-fluid" />
          </div>
          <div class="col-12 col-lg-5 text-start">
            <span class="text-primary-blue font-extra-bold d-block">+ 700</span>
            <span class=""> editoriales</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>