.menu__item a:hover {
  color: #e35352;
}

form {
  display: flex;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding: 2px;
  background: #ffffff;
  min-width: 35% !important;
  border: 1px solid rgba(155, 155, 155, 0.2);
  border-radius: 5px;
}

form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #a5a5a5;
  font-size: 1rem;
  border: none;
  background: none;
}

.search-data:focus {
  outline: none;
}

form button {
  padding: 0 15px;
  color: #a5a5a5;
  font-size: 22px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

form button:hover {
  background: #f2f2f2;
}

@media all and (min-width: 992px) {
  form {
    width: 415px;
  }

}
