.secondary-button {
  color: var(--secondary-white);
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 55px;
  background-color: var(--secondary-red);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.secondary-button:hover {
  background-color: var(--alternative-red);
}

.secondary-button:active {
  transform: translateY(4px);
}

.detail {
  border-bottom: 1px solid rgba(165, 165, 165, 0.49);
}