
<section class="container-fluid row p-4 p-md-5 m-0">
  <div class="col-lg-5 col-xl-4">
    <img
      src="../../../../assets/img/book-cover/la-llamada-de-cthulhu.jpg"
      class="img-fluid"
      alt="..."
    />
  </div>

  <div class="col-lg-7 col-xl-8 py-5 py-lg-0 ps-lg-5">
    <div class="row">
      <div class="col-md-12 fw-800 fc-secondary fs-lg-2 font-bold"><p class="mb-0">La llamada de Cthulhu</p></div>
      <div class="col-md-8">
        <p class="fc-basic-4 fs-lg-3 font-medium mb-0">H. P. Lovecraft</p>
      </div>
      <p class="col-md-12 py-2 fc-primary fs-md mb-0">
        Disponibilidad: <b class="fc-basic-5">En existencia</b>
      </p>
      <div class="row">
        <div class="col-md-12 d-md-flex justify-content-between align-items-center">
          <p class="fs-md-2 font-bold fc-secondary">$ 4444</p>
          <button
            class="col-6 secondary-button text-sm-center fs-sm-2 font-bold">
            Agregar al carrito
          </button>
        </div>
      </div>

      <div class="col-md-12 py-2 fs-sm-2 fc-primary">
        <p>
          <b>Sinopsis:</b> Cuentos que contiene: Aire Frio, El Alquimista,
          El Descendiente, El Misterio del cementerio, El Modelo de Pickman,
          El Morador de las tinieblas, El Ser bajo la luz de la luna, El Ser
          del umbral, Gente muy Antigua, Historia del Necronomicón, Ibid, In
          Memoriam: Robert Ervin Howard, La Bestia en la cueva, La Busqueda
          en sueños de la Ignota Kadath o En busca de la ciudad del sol
          poniente, La Calle, La Casa maldita, La Dulce Ermengarde...
        </p>
      </div>
    </div>

    <table class="table-responsive">
      <tbody class="font-medium fc-primary fs-sm-2">
        <tr>
          <th scope="row">Editorial</th>
          <td class="ps-5 fc-secondary">Del Fondo Editorial</td>
        </tr>
        <tr>
          <th scope="row">ISBN</th>
          <td class="ps-5 fc-secondary">9789878354521</td>
        </tr>
        <tr>
          <th scope="row">Páginas</th>
          <td class="ps-5 fc-secondary">662</td>
        </tr>
        <tr>
          <th scope="row">Clasificación</th>
          <td class="ps-5 fc-secondary">Terror</td>
        </tr>
        <tr>
          <th scope="row">Publicación</th>
          <td class="ps-5 fc-secondary">2021</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
