<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-center">Nuestras Tiendas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <ul>
        <li *ngFor="let store of stores">
          {{ store.street_number }} - {{ store.province }} - {{ store.locality }} - {{ store.telephone }}
        </li>
      </ul>
    </div>
  </div>
</div>