<div class="header__menu">
  <div class="header__menu__logo">
    <a (click)="onClickNavigateToHome()">
      <img src="./assets/img/logo/Logo biblioteca franklin.png " alt="Logo Libreria Franklin" /></a>
  </div>

  <div class="header__menu__item">
    <app-search></app-search>
  </div>

  <ul class="header__menu__social">
    <li class="fw-400 social__menu__item">
      <a href="#" class="">
        <img src="./assets/img/header-menu/instagram.png" alt="instagram" />
      </a>
    </li>

    <li class="fw-400 social__menu__item">
      <a href="#">
        <img src="./assets/img/header-menu/twitter.png" alt="twitter" />
      </a>
    </li>

    <li class="fw-400 social__menu__item">
      <a href="#">
        <img src="./assets/img/header-menu/facebook.png" alt="facebook" /></a>
    </li>
  </ul>
</div>