<p>
  footer works!
</p>
<footer class="footer d-flex justify-content-between fc-basic-2 p-5">
  <div>
    <img src="../assets/img/Logo biblioteca franklin.png" alt="">
    <div class="row d-flex justify-content-around redes mt-4">
      <a type="link" title="Instagram" href="#" target="_blank" rel="noopener noreferrer" class="col-1"><i
          class="fa-brands fa-instagram"></i></a>
      <a type="link" title="Twitter" href="#" target="_blank" rel="noopener noreferrer" class="col-1"><i
          class="fa-brands fa-twitter"></i></a>
      <a type="link" title="Facebook" href="#" target="_blank" rel="noopener noreferrer" class="col-1"><i
          class="fa-brands fa-facebook"></i></a>
    </div>
  </div>
  <div class="map">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Catálogo</a></li>
      <li><a href="">Mi cuenta</a></li>
      <li><a href="">Carrito de compras</a></li>
    </ul>
  </div>
  <div class="payment">
    <p class="font-bold ">Método de pago</p>
    <div class="row d-flex justify-content-around">
      <i class="fa-brands fa-cc-visa col-2"></i>
      <i class="fa-brands fa-cc-mastercard col-2"></i>
      <i class="fa-brands fa-cc-amex col-2"></i>
    </div>
  </div>
  <div>
    <p class="font-bold ">Contacto</p>
    <ul>
      <li>contacto@biblioteca.com</li>
      <li>1126789634</li>
      <li>Humberto Primo 467. 2 Piso. Córdoba. Argentina.</li>
    </ul>
  </div>
</footer>
