<section class="container my-5 pb-5 table-responsive bg-secondary-white px-5 dashboard-table" id="books-dashboard">
  <section class="container pb-5 mb-5">
    <div class="row mt-5 pt-5 justify-content-center align-items-center gy-5">

      <div class="col-12 col-lg-4 text-start">
        <span class="fw-700 db-tittle">Stock de productos</span>
      </div>

      <div class="col-12 col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control rounded-1 px-4 py-3" placeholder="Buscá por ISBN, título, autor">
          <button type="button" class="btn btn-outline-secondary"> <img src="./assets/icons/extra/lupa.png" alt="">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>

      <div class="col-12 col-lg-2 text-end">
        <button type="button" role="button" class="primary-button-outline py-2 px-3 col-12"
          (click)="onCreateBook()">Agregar stock</button>
      </div>
    </div>
  </section>

  <table class="table table-hover align-middle">

    <thead>
      <tr>
        <th class="col-5" scope="col">Libro</th>
        <th scope="col">Autor</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let book of books">

        <td>
          <div class="row">
            <div class="col-7 col-lg-2">
              <img [src]="book.book_cover" alt="imagen de portada de el libro {{book.title}}" class="img-fluid">
            </div>
            <div class="col-12 col-lg-5 align-self-center">
              <span>{{book.title}}</span>
            </div>
          </div>
        </td>

        <td class="ps-3">{{book.author.name}}</td>
        <td class="ps-4">{{book.price}}</td>
        <td class="ps-4">{{book.stock}}</td>


        <td>
          <div class="row">
            <div class="col">
              <button class="edit-btn" type="button" title="ver detalle" (click)="onViewBook(book.id_book)">
                <img src="./assets/icons/actions/eye.png" alt="" class="img-fluid">
              </button>
            </div>
            <div class="col">
              <button class="trash-btn" type="button" title="editar" (click)="onEditBook(book.id_book)">
                <img src="./assets/icons/actions/edit.png" alt="" class="img-fluid">
              </button>
            </div>
            <div class="col">
              <button class="trash-btn" type="button" title="eliminar" (click)="onDeleteBook(book.id_book)">
                <img src="./assets/icons/actions/trash.png" alt="" class="img-fluid">
              </button>
            </div>
          </div>
        </td>
      </tr>


    </tbody>


  </table>