<app-header></app-header>
<div class="mt-5 pt-5">
  <div class="container-fluid px-md-5">
    <div class="row px-4 index-book-title">
      <p class="col-6 col-md-12 fc-primary font-bold fs-md text-uppercase">
        Recomendados
      </p>
      <p class="col-10 d-none d-md-block font-medium fc-primary-light fs-md">
        Encontrá todos esos libros que debes leer
      </p>
      <div class="col-2">
        <a class="font-medium fc-secondary fs-md-1 ps-4" (click)="onClickCatalogue()">
          Ver todos <span class="fs-sm-2">></span>
        </a>
      </div>
    </div>
  </div>
  <app-books-row-cards [books]="recomendedBooks" justify="evenly"></app-books-row-cards>
</div>

<div class="mt-5">
  <div class="container-fluid px-md-5">
    <div class="row px-4 index-book-title">
      <p class="col-6 col-md-12 fc-primary font-bold fs-md text-uppercase">
        Novedades
      </p>
      <p class="col-10 d-none d-md-block font-medium fc-primary-light fs-md">
        Encontrá acá los nuevos lanzamientos
      </p>
      <div class="col-2">
        <a class="font-medium fc-secondary fs-md-1 ps-4" (click)="onClickCatalogue()">
          Ver todos <span class="fs-sm-2">></span>
        </a>
      </div>
    </div>
  </div>
  <app-books-row-cards [books]="newAtBooks" justify="evenly"></app-books-row-cards>
</div>

<div class="mt-5">
  <div class="container-fluid px-md-5">
    <div class="row px-4 index-book-title">
      <p class="col-6 col-md-12 fc-primary font-bold fs-md text-uppercase">
        Más vendidos
      </p>
      <p class="col-10 d-none d-md-block font-medium fc-primary-light fs-md">
        Encontrá acá lo más vendido del mes
      </p>
      <div class="col-2">
        <a class="font-medium fc-secondary fs-md-1 ps-4" (click)="onClickCatalogue()">
          Ver todos <span class="fs-sm-2">></span>
        </a>
      </div>
    </div>
  </div>
  <app-books-row-cards [books]="topSellingBooks" justify="evenly"></app-books-row-cards>
</div>