.cart-button {
  height: 3.5rem;
  width: 10rem;
  background-color: rgb(76, 175, 80);
  color: white;
  border: none;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 34px;
  transition-duration: 0.4s;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  /*   position: relative; */
}

.cart-button:hover {
  background-color: rgb(62, 142, 65);
}

.cart-button img {
  position: absolute;
  top: 50%;
  left: 1.3rem;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: hue-rotate(0deg) saturate(0) brightness(200%) opacity(0.5);
  height: 50%;
  width: 20%;
}

.cart-button .item-count {
  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.cart-button .total-amount {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
  font-size: 16px;
}
