<div class="accordion" id="accordionPedidos" *ngFor="let item of purchases">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Order#{{item.orderNumber }}
        <span class="fechas">{{item.date}}</span>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionPedidos"
    >
      <div class="accordion-body">
        <table class="table" >
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody *ngFor="let product of item.products">
            <tr>
              <th scope="row">{{product.name}}</th>
              <td>{{product.price}}</td>
              <td>{{product.quantity}}</td>
              <td>{{product.totalAmount}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
